.dropdown {
    width: 200px;
    height: 120px;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    position: absolute;
    transition: all 0.2s ease-out;
    transform: translateY(0);
    display: block;
    left: -81.5px;
}
.dropdown.hidden {
    display: none;
}
.dropdown.visually-hidden {
    opacity: 0;
    transform: translateY(-10px);
}
